animations {
	
	workspace-switch {
        	spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    	}
	

	window-open {
		duration-ms 350
		curve "ease-out-expo"
	}

	window-close {
        	duration-ms 350
        	curve "ease-out-expo"
    	}

    	screenshot-ui-open {
        	duration-ms 400
        	curve "ease-out-quad"
    	}

	overview-open-close {
        	duration-ms 300
        	curve "ease-out-expo" // CHANGE TO LINEAR LATER
    	}

	window-movement {
        	spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    	}

}
