layout {
    background-color "black"

    focus-ring {
	    // active-color "#7fc8ff"
        active-gradient from="#d6afff" to="#5e5ad8" angle=135
        inactive-color "#505050"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        urgent-color "#9b0000"
        // urgent-gradient from="#800" to="#a33" angle=45
    }

    border {
        // active-color "#7fc8ff"
        active-gradient from="#d6afff" to="#5e5ad8" angle=135
        inactive-color "#505050"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        urgent-color "#9b0000"
        // urgent-gradient from="#800" to="#a33" angle=45
    }

   shadow {
        color "#00000070"
        // inactive-color "#00000054"
   }

   tab-indicator {
        active-color "#d6afff"
        inactive-color "gray"
        urgent-color "red"
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        // urgent-gradient from="#800" to="#a33" angle=45
   }

   insert-hint {
        color "#ffc87f80"
        // gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
   };
}
