window-rule {
    match app-id="librewolf"
    open-on-workspace "web"
}

window-rule {
    match app-id="vesktop"
    open-on-workspace "chat"
}

window-rule {
    match app-id="Spotify"
    open-on-workspace "music"
}

window-rule {
    match app-id="steam"
    open-on-workspace "gaming"
}
