//***********************************//
//*** Entry point for all configs ***//
//***********************************//

// Styling
include "styling/colors.kdl"
include "styling/layout.kdl"
include "styling/animations.kdl"
include "styling/corners.kdl"
include "styling/cursor.kdl"

// General
include "general/misc.kdl"
include "general/input.kdl"
include "general/outputs.kdl"
include "general/keymaps.kdl"
include "general/switch-events.kdl"
include "general/workspaces.kdl"
include "general/autostart.kdl"
include "general/environment.kdl"

// Windowrules
include "windowrules/spawn_at_workspace.kdl"
include "windowrules/block_screencapture.kdl"
