//***********************************//
//*** Entry point for all configs ***//
//***********************************//

// Styling
include "styling/layout.kdl"
include "styling/animations.kdl"
include "styling/corners.kdl"
include "styling/cursor.kdl"

// General
include "general/input.kdl"
include "general/outputs.kdl"
include "general/keymaps.kdl"
include "general/switch-events.kdl"
include "general/workspaces.kdl"
include "general/autostart.kdl"

// Windowrules
include "windowrules/spawn_at_workspace.kdl"
include "windowrules/block_screencapture.kdl"

//### Misc settings ###///

// Path to save screenshots add and name setting
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Deactivate hotkey window at startup
hotkey-overlay {
    skip-at-startup
}

// Turn of titlebar for most applications
prefer-no-csd
