binds {
	Mod+Ctrl+Period { show-hotkey-overlay; }

	// clients
	MOD+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
	Mod+B hotkey-overlay-title="Open Browser: librewolf" { spawn "librewolf"; }

	// session management
	// Mod+L { TO BE IMPLEMENTED }
	Mod+Shift+M { quit; }
	Mod+Shift+P { power-off-monitors; }

	// Window Management
	Mod+Tab repeat=false { toggle-overview; }
	Mod+Q repeat=false { close-window; }
	// Navigation
	Mod+Left  { focus-column-left; }
	Mod+Down  { focus-window-down; }
	Mod+Up    { focus-window-up; }
	Mod+Right { focus-column-right; }
	// Switch focus between monitors
	Mod+Shift+Left  { focus-monitor-left; }
	Mod+Shift+Down  { focus-monitor-down; }
	Mod+Shift+Up    { focus-monitor-up; }
	Mod+Shift+Right { focus-monitor-right; }
	Mod+Shift+H     { focus-monitor-left; }
	Mod+Shift+J     { focus-monitor-down; }
	Mod+Shift+K     { focus-monitor-up; }
	Mod+Shift+L     { focus-monitor-right; }
	// Move windows across workspaces
	Mod+Alt+Up 	{ move-column-to-workspace-up; }
	Mod+Alt+Down 	{ move-column-to-workspace-down; }
	// Mouse wheel gestures for navigation
	Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    	Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    	Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    	Mod+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
	// Workspace navigation
	Mod+1 { focus-workspace "work"; }
	Mod+2 { focus-workspace "web"; }
	Mod+3 { focus-workspace "gaming"; }
	Mod+4 { focus-workspace "dev"; }
	Mod+5 { focus-workspace "chat"; }
	Mod+6 { focus-workspace "music"; }
	// Mod+7 { focus-workspace 7; }
	// Mod+8 { focus-workspace 8; }
	// Mod+9 { focus-workspace 9; }
	Mod+Shift+1 { move-window-to-workspace "work"; }
	Mod+Shift+2 { move-window-to-workspace "web"; }
	Mod+Shift+3 { move-window-to-workspace "gaming"; }
	Mod+Shift+4 { move-window-to-workspace "dev"; }
	Mod+Shift+5 { move-window-to-workspace "chat"; }
	Mod+Shift+6 { move-window-to-workspace "music"; }
	// Mod+Shift+7 { move-window-to-workspace 7; }
	// Mod+Shift+8 { move-window-to-workspace 8; }
	// Mod+Shift+9 { move-window-to-workspace 9; }
	// Switch through column-width presets
	Mod+R { switch-preset-column-width; }
	Mod+Shift+R { switch-preset-window-height; }
	// Full-Screen settings
	Mod+F 		{ maximize-column; }
	Mod+Shift+F 	{ maximize-window-to-edges; }
	Mod+Alt+F 	{ fullscreen-window; }
	// Center Column
	Mod+C 		{ center-column; }
	// Floating Windows
	Mod+V       { toggle-window-floating; }
	// Tabbed window mode (windows in column stacked on each other)
	Mod+W { toggle-column-tabbed-display; }

	// Screen capture
	Print { screenshot; }
	Ctrl+Print { screenshot-screen; }
    	Alt+Print { screenshot-window; }

	// Multimedia
    	XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
	XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    	XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    	XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
	// This will work with any MPRIS-enabled media player (requires playerctl)
	XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
	XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
	XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
	XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
	// Brightness control
    	XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    	XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }

	// Applications such as remote-desktop clients and software KVM switches may
	// request that niri stops processing the keyboard shortcuts defined here
	// so they may, for example, forward the key presses as-is to a remote machine.
	// It's a good idea to bind an escape hatch to toggle the inhibitor,
	// so a buggy application can't hold your session hostage.
	//
	// The allow-inhibiting=false property can be applied to other binds as well,
	// which ensures niri always processes them, even when an inhibitor is active.
	Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
