workspace "work"

workspace "web" {
  layout {
    default-column-width { proportion 1.0; }
  }
  open-on-output "DP-4"
}

workspace "gaming" {
  layout {
    default-column-width { proportion 1.0; }
  }
}

workspace "dev"

workspace "chat" {
  layout {
    default-column-width { proportion 0.9; }
  }
}

workspace "scratch"
